.container {
  border: 5px solid black;
  top: 50%;
  left: 50%;
  position: absolute;
  width: 600px;
  height: 600px;
  transform: translate(-50%, -50%);
  /* background-image: url(/images/cv-frogger-screen_0.png); */
  background-color: black;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}
h1 {
  text-align: center;
}
#backgroundImg {
  position: absolute;
  z-index: 1;
}
