.container {
  border: 5px solid black;
  top: 50%;
  left: 50%;
  position: absolute;
  width: 600px;
  height: 600px;
  transform: translate(-50%, -50%);
  background: black;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}
h1 {
  text-align: center;
  background: #f2f6f8;
}
#backgroundImg {
  position: absolute;
  z-index: 1;
}
